@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7c2626;;
}
p {
    color: white;
}
.navbar {
    background-color: #b34949;
}
h3 {
    color: white;
}
.quemsomos {
    background-color: #8a2c2c;
    
}
.quemsomos img {
    margin: 30px 0px;
}

.parceiros {
    
    height: 100vh;
    background-color: #7c2626;
}
.parceiros h3 {
    margin-bottom: 50px;
}
#servicos {
    height: 100vh;
    margin-bottom: 400px;
    background-color: #461313;
}
#servicos img {
    width: 100%;
    
}
.col-lg-6 {
    width: 380px;
}
footer {
    background-color: #7c2626;
    color: white;
    
    padding: 50px;
    
    
}
.margin {
    padding: 50px 0px;
    
}
